<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= collection %> Collection</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1><%= collection %> Collection</h1>
    <div id="imageContainer">
        <% images.forEach(image => { %>
            <div class="imageWrapper">
                <img src="/<%= image.path %>" alt="Collection Image">
                <a href="/<%= image.path %>" class="downloadButton" download>Download</a>
            </div>
        <% }); %>
    </div>
</body>
</html>
