<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/main.css" />
    <title>Image Generation</title>
    <script>
      function addPrompt() {
        const promptContainer = document.getElementById("promptContainer");
        const newPrompt = document.createElement("div");
        newPrompt.innerHTML = `
                <br />
                <label>Prompt:</label>
                <input type="text" name="prompt[]" required>
                <label>Repeat (Number of images in sets of 4):</label>
                <input type="number" name="repeat[]" value="2" required>
                <label>Collection:</label>
                <input type="text" name="collection[]">
                <hr>
            `;
        promptContainer.appendChild(newPrompt);
      }
    </script>
  </head>
  <body>
    <h1>Image Generation</h1>
    <form action="/generate" method="post">
      <label>Token:</label>
      <input
        type="password"
        name="token"
        required
        oninvalid="this.setCustomValidity('Hep hep hep, ton token batard')"
        oninput="this.setCustomValidity('')"
      />
      <br />
      <label>Default Collection:</label>
      <input
        type="text"
        name="defaultCollection"
        placeholder="Set default collection value"
      />
      <br />
      <hr />
      <div id="promptContainer">
        <br />
        <!-- Initial prompt fields -->
        <label>Prompt:</label>
        <input type="text" name="prompt[]" required />
        <label>Repeat (Number of images in sets of 4):</label>
        <input type="number" name="repeat[]" value="2" required />
        <label>Collection:</label>
        <input type="text" name="collection[]" />
        <hr />
      </div>
      <br />
      <button type="button" onclick="addPrompt()">Add Another Prompt</button>
      <br /><br /><br />
      <input type="submit" value="Generate" />
    </form>
  </body>
</html>
