<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="/style/signup.css" />
  </head>

  <body>
    <h1>Signup form</h1>
    <div>
      <form class="form" action="/user/signup" method="post">
        <div class="admin">
          <h2>Admin</h2>
          <label for="token">Token</label>
          <input type="password" name="token" id="token" required />
        </div>

        <div class="user-info">
          <h2>User info</h2>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" required />

          <label for="email">Email</label>
          <input type="email" name="email" id="email" required />

          <label for="password">Password</label>
          <input type="password" name="password" id="password" required />
        </div>

        <input type="submit" id="submit" value="Register" />
      </form>
    </div>
  </body>
</html>
