<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="/style/signup.css" />
  </head>

  <body>
    <h1>Signup form</h1>
    <div>
      <form class="form" action="/user/signup" method="post">
        <div class="user-info">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" required />

          <label for="email">Email</label>
          <input type="email" name="email" id="email" required />

          <label for="password">Password</label>
          <input type="password" name="password" id="password" required />

          <label>Roles:</label>

          <% for (const role of roles) { %>
          <div>
            <input
              type="checkbox"
              name="roles[]"
              value="<%= role %>"
              id="<%= role %>"
            />
            <label for="<%= role %>"><%= role %></label>
          </div>
          <% }; %>
<!-- 
          <div>
            <input
              type="checkbox"
              name="roles[]"
              value="generate:fast"
              id="generate-fast"
            />
            <label for="generate-fast">Generate Fast</label>
          </div>

          <div>
            <input type="checkbox" name="roles[]" value="admin" id="admin" />
            <label for="admin">Admin</label>
          </div>
        </div> -->

        <input type="submit" id="submit" value="Register" />
      </form>
    </div>
  </body>
</html>
